.slashkiller-ignore .slashkiller-add, .slashkiller-ignore .slashkiller-delete {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 5px; }

.ignored {
  background-color: #ffdbdb; }
  .ignored:hover {
    background-color: #ffcccc; }

.slashkiller-clear_all, .slashkiller-ignore_all, .slashkiller-undo_last, .slashkiller-reveal_hidden, .slashkiller-clear_all:visited, .slashkiller-ignore_all:visited, .slashkiller-undo_last:visited, .slashkiller-reveal_hidden:visited {
  color: black; }
